
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

p{
  color: #000;
  width: 500px;
  border: 1px solid rgb(4, 45, 47)

}



img {
   vertical-align: middle;
   
}
img {
  border: 0;
}

.color{
  color: rgba(0, 3, 10, 0.993);
  width: auto
 
 }

.contenido {
   width: 800px; margin: 0 auto; 
  }

ul.horizontal{
    margin:0;
    padding:0;
    }

ul.horizontal li{
    display:block;
    float:left;
    padding:0 10px;
    }

.form {
      /* Sólo para centrar el formulario a la página */
      margin: 0 auto;
      width: 400px;
      /* Para ver el borde del formulario */
      padding: 1em;
      border: 1px solid #CCC;
      border-radius: 1em;
  }

 /*agreguemos algo de espacio entre cada uno de los widgets del formulario:*/
  form div + div {
      margin-top: 1em;
  }

label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
  /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
     Por defecto, las areas de texto tienen una fuente con monospace */
  font: 1em sans-serif;

  /* Para darle el mismo tamaño a todos los campos de texto */
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* Para armonizar el look&feel del borde en los campos de texto */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Para dar un pequeño destaque en elementos activos*/
  border-color: #000;
}


textarea {
  /* Para alinear campos de texto multilínea con sus labels */
  vertical-align: top;

  /* Para dar suficiente espacio para escribir texto */
  height: 5em;

  /* Para permitir a los usuarios cambiar el tamaño de cualquier textarea verticalmente
      No funciona en todos los navegadores */
  resize: vertical;
}

.button {
  /* Para posicionar los botones a la misma posición que los campos de texto */
  padding-left: 90px; /* mismo tamaño a todos los elementos label */
}
button {
  /* Este margen extra representa aproximadamente el mismo espacio que el espacio
     entre los labels y sus campos de texto */
  margin-left: .5em;
}

input:valid,textarea:vertical{
  background: green;
}


input:valid,textarea:vertical{
  background:rgb(241, 239, 109);
}

body{
  /* fondo  */
  background: #77e05d;
}

header{

  background: #5fe0cb; /* color del contenedor  */
  width: 1000%;
  padding: 20px;

  /* flex */
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;
}

header .logo {
  color: aliceblue;
  font-size: 30px;

}
header .logo img{
  width: 150px;
  vertical-align: top;

}

header .logo a{
  color: aliceblue;
  text-decoration: none;

}
header nav{
  width: 50%;

  /* flex */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


header nav a{
  background: #5fe0cb;
  color: #2c3e50;
  text-align: center;
 
  align-items: center;
  text-decoration: none;

   /* flex */ 

   flex-grow: 1;
}


.contenedorMenu{
  background: #5fe0cb;
  width: 90%;
  max-width: 1000px;
  margin: auto;

  /* flex */
  display: flex;
 /* flex-flow: row wrap; */
  flex-direction:row;

}

.contenedorPrincipal{
  background: #fff;
  width: 90%;
  max-width: 1000px;
  margin: auto;

  /* flex */
  display: flex;
  flex-flow: row wrap;

}


.contenedor{
  width: 700px;
  height: 700px;
  background: #fff;
  padding: 10px;
  border: 10px solid #2c3e50;
  margin: 20px;
  
    /* flex */
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center; */
   /*align-content: space-around; */
   align-content: center;

}


.elemento{
  color: aquamarine;
  margin: 10px;
  display: inline-block;
  /*width: 200px; */
  flex-basis: 200px;
  height: 200px;
  background:rgb(125, 203, 240);
  text-align: center;
}


/* adaptacion de img en los contenedores(cada elemento) */

.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
/* hhhhhhhhhhhhhhh*/


html,body{
  color:white;
  font-family:'Opens Sans',helvetica;  
  height:100%;
  width:100%;
  margin: 0px;
}



